---
metadata:
    url: {{ manifest.url }}
---
<!doctype html>
<html lang="{{ manifest.language }}">
  {% include 'components/head.liquid' %}
  <body>
    <div class="page-layout">
      {% include 'components/header.liquid' %}
      {% include 'components/nav.liquid' %}
      <main {% if draft %}draft{% endif %}
        class="main--{{ layout }} main--{{ page.fileSlug }}">
        {{ content }}
      </main>
      {% include 'components/footer.liquid' %}
    </div>
  </body>
</html>