{% assign pages = collections.footer | eleventyNavigation %}
<footer>
  <div class='footer--copyright'>
    © {% year %} The DiveZone Company.
    <div class='footer--trademarks'>
      DevZone, DevZone Solutions and DevZone One are registered trademarks of The DiveZone Company
    </div>
  </div>

  <nav class='footer--nav'>
    <ul role='list'>
      {%- for entry in pages %}
        <li
          {% if entry.url == page.url %}
          class='active'
          {% endif %}>
          <a href='{{ entry.url | default: url }}'>{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>

  <div class='footer--socials'>
    {% for social in socials %}
      <a
        id='social-{{ social.key | slugify }}'
        class='{{ social.icon }}'
        href='{{ social.url }}'
        target='_blank'>
        <span class='sr-only'>{{ social.key }}</span>
      </a>
    {% endfor %}
  </div>

  <div class="footer--fathom">
    Proudly respecting your privacy with
    <a href="https://dvz.one/fathom" target="_blank">Fathom Analytics</a>!
  </div>
</footer>