{% assign pages = collections.footer | eleventyNavigation %}
<footer>
  <section class="footer-inner">
    <div class="footer-copyright">© {% year %} The DiveZone Company.</div>

    <nav class="footer-nav">
      <ul role="list" class="nav-list">
        {%- for entry in pages %}
          <li{% if entry.url == page.url %} class="active" {% endif %}>
            <a href="{{ entry.url | default: url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>

    <div class="footer-socials">
      {% for social in socials %}
        <a id="social-{{ social.key | slugify }}" class="{{ social.icon }}" href="{{ social.url }}" target="_blank">
          <span class="sr-only">{{ social.key }}</span>
        </a>
      {% endfor %}
    </div>
  </section>
</footer>